.login {
  margin-top: 200px;
  .card-header {
    background-color: #3e454c;
    h3 {
      color: #fff;
    }
  }
  .btn-login {
    background-color: #f5e458;
  }
}
.ng-invalid:not(form) {
  border-left: 5px solid red;
}
.ng-valid:not(form) {
  border-left: 5px solid green;
}